
.footer {
    padding-bottom: 38px;
    padding-top: 25px;
    border-top: solid 2px #dee1e5;

    &__logo {
        margin-bottom: 6px;
        width: 125px;
    }

    &__copyright {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: #7a838e;
    }
    &__links {
      color: #7a838e;
      margin-bottom: 5px;
      margin-top: 0;
      a {
       font-size: 14px;
        color: #7a838e;
      }
    }
    &__disclaimer {
      font-size: 14px;
      text-transform: uppercase;
      margin-top: 20px;
      margin-bottom: 0;
    }
}
