/* Mounting point for all scss files */
body {
  font-family: "Avenir",  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  line-height: 1.388;
  color: #000; }

p {
  margin-bottom: 1.5em;
  font-size: 18px;
  line-height: 1.388;
  font-weight: 400;
  color: #000; }

h1 {
  margin-top: 0;
  margin-bottom: 18px;
  font-family: "TiemposText";
  font-size: 28px;
  line-height: 1.21;
  font-weight: 600;
  color: #051033; }

h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: "TiemposText";
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
  color: #051033; }

@media (min-width: 768px) {
  h1 {
    font-size: 34px; }
  h3 {
    margin-bottom: 10px; } }

@media (min-width: 1200px) {
  body {
    font-size: 20px;
    line-height: 1.5; }
  p {
    font-size: 20px;
    line-height: 1.5; }
  h1 {
    font-size: 54px; }
  h3 {
    margin-bottom: 25px;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.15;
    letter-spacing: -0.5px; } }

section {
  margin-bottom: 30px; }

.marked {
  font-weight: 700;
  -webkit-border-radius: 1em 0 1em 0;
          border-radius: 1em 0 1em 0;
  background-image: -webkit-linear-gradient(190deg, rgba(250, 247, 133, 0.3), rgba(250, 247, 133, 0.7) 98%, rgba(250, 247, 133, 0.1));
  background-image: linear-gradient(-100deg, rgba(250, 247, 133, 0.3), rgba(250, 247, 133, 0.7) 98%, rgba(250, 247, 133, 0.1)); }

@media (min-width: 1200px) {
  section {
    margin-bottom: 70px; } }

.header {
  padding: 10px 0;
  background: #fff; }
  .header__burger-icon {
    margin-right: 9px;
    width: 15px;
    height: 12px;
    font-size: 0;
    border: 0;
    background: url("../../../img/other/menu.svg") no-repeat center;
    background-size: cover; }
  .header__logo {
    width: 134px; }
  .header__btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 700;
    background-color: #003bde;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 6px 12px 6px 16px;
    font-size: 14px;
    line-height: 19px; }
    .header__btn:hover {
      cursor: pointer;
      border: 1px solid #003bde;
      color: #003bde;
      background: #fff;
      text-decoration: none; }

.header-sticky-overlay {
  display: none; }

.header-sticky {
  position: fixed;
  z-index: 5;
  top: -100%;
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: white;
  -webkit-box-shadow: 0px 4px 34px -2px rgba(0, 0, 0, 0.116);
          box-shadow: 0px 4px 34px -2px rgba(0, 0, 0, 0.116);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease; }
  .header-sticky_opened {
    top: 0; }
  .header-sticky_with-overlay > .header-sticky-overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 99; }

@media (min-width: 768px) {
  .header__logo {
    width: 166px; }
  .header__chat-text {
    margin-bottom: 0;
    margin-right: 16px;
    padding-left: 25px;
    font-size: 14px;
    color: #7a838e;
    font-weight: 700;
    background: url("../../../img/other/comment.svg") no-repeat left center;
    background-size: contain; } }

@media (min-width: 1200px) {
  .header {
    padding: 20px 0; }
    .header__logo {
      margin-right: 77px; }
    .header__nav-link {
      margin-right: 46px;
      font-size: 14px;
      font-weight: 700;
      color: #7a838e; }
      .header__nav-link_active {
        color: #003bde; }
      .header__nav-link:last-child {
        margin-right: 0; }
    .header__btn {
      padding: 11px 24px 11px 24px; } }

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 256px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background: rgba(0, 59, 222, 0.2); }

.slideout-menu-left {
  left: 0; }

.slideout-menu-right {
  right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  /* A background-color is required */
  min-height: 100vh; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

#panel:before {
  content: '';
  display: block;
  background-color: transparent;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out; }

#panel.panel-open:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 99; }

.mobile-menu__close-btn {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  border: 0;
  padding: 8px 10px 8px 30px;
  background: #fff url("../../../img/other/shape.svg") no-repeat 10px center;
  background-size: 12px 12px;
  color: rgba(0, 0, 0, 0.75);
  font-weight: bold; }

.mobile-menu__list {
  margin-top: 60px;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none; }

.mobile-menu__link {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
  color: #514d56; }

.counter {
  margin-bottom: 0;
  height: 55px;
  background-color: #f2c554; }

.top-index__bg {
  height: 71vw;
  background: url("../../img/other/hero-bg-mobile.jpg") no-repeat center bottom;
  background-size: 100%; }

.top-index__marked {
  color: #003bde; }

.top-index__btn {
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 700;
  background-color: #003bde;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 13px;
  font-size: 18px;
  line-height: 1.35;
  text-transform: uppercase;
  text-align: center; }
  .top-index__btn:hover {
    cursor: pointer;
    border: 1px solid #003bde;
    color: #003bde;
    background: #fff;
    text-decoration: none; }

.top-index__logo {
  width: 20%;
  height: auto; }
  .top-index__logo_long {
    width: 26%; }

.counter {
  padding-top: 9px;
  padding-bottom: 51px; }
  .counter__desc {
    margin-bottom: 0;
    width: auto;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.4px;
    color: #001837; }
  .counter__sale-link {
    letter-spacing: -0.4px;
    text-align: left;
    color: #003bde;
    font-weight: bold;
    text-decoration: underline; }

.logos__title-wrapper {
  position: relative;
  margin-bottom: 20px; }
  .logos__title-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #dee1e5; }

.logos__title {
  margin: 0;
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0 5px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  color: rgba(101, 113, 139, 0.6);
  background: #fff; }

.logos__logo {
  height: auto;
  width: 100%;
  max-width: 462px; }

.list-checkbox {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .list-checkbox__item {
    margin-bottom: 10px;
    padding-left: 33px;
    font-size: 16px;
    color: #051033;
    background: url("../../img/other/group-206@3x.png") no-repeat left center;
    background-size: 20px 18px; }

.full-links {
  font-size: 10px;
  text-align: left;
  color: #000000; }
  .full-links__title {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #828282; }
  .full-links__link {
    color: #000000; }

.recordings__block {
  margin-bottom: 20px; }

.recordings__block-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 900;
  line-height: 2.13;
  text-align: center;
  color: #051033;
  text-decoration: underline; }

.recordings__image-area {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.1); }

.recordings__date {
  margin: 0;
  margin-bottom: -15px;
  margin-left: 16px;
  font-size: 10px;
  font-weight: 600; }

.recordings__logo {
  position: absolute;
  top: 8px;
  right: 0;
  width: 100px; }

.shifted-img-wrapper {
  margin-top: 20px;
  margin-left: 20px;
  background-color: #50d5b3; }
  .shifted-img-wrapper__img {
    position: relative;
    left: -20px;
    top: -20px; }

.what-included__desc {
  margin-bottom: 20px; }

.what-included__img {
  margin-bottom: 10px; }

.what-included__block-title {
  font-size: 22px;
  line-height: 1.36;
  color: #003bde; }

.guaranteed {
  margin-bottom: 15px; }
  .guaranteed__bg {
    padding: 23px 5px 34px;
    width: 95%;
    margin: 0 auto;
    background: url("../../img/other/guaranteed-bg.svg") no-repeat center;
    background-size: 100%; }
  .guaranteed__desc {
    margin-bottom: 30px; }
  .guaranteed__signature {
    width: 230px; }

.news-list__item {
  padding-bottom: 25px;
  position: relative; }
  .news-list__item::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 36px;
    height: 1px;
    background: #dee1e5; }

.news-list__logo_1 {
  width: 191px; }

.news-list__logo_2 {
  width: 191px; }

.news-list__logo_3 {
  width: 36px; }

.news-list__logo_4 {
  width: 98px; }

.news-list__logo_5 {
  width: 111px; }

.news-list__logo_6 {
  width: 220px; }

.news-list__logo_7 {
  width: 167px; }

.news-list__logo_8 {
  width: 167px; }

.news-list__logo_9 {
  width: 173px; }

.compare__title {
  margin-bottom: 24px; }

.compare__exercise {
  position: relative;
  margin-bottom: 31px;
  padding-left: 28px; }
  .compare__exercise::after {
    content: '';
    position: absolute;
    z-index: 2;
    left: 50%;
    bottom: -50px;
    -webkit-transform: translate(-50%, 0) rotate(0deg);
        -ms-transform: translate(-50%, 0) rotate(0deg);
            transform: translate(-50%, 0) rotate(0deg);
    width: 50px;
    height: 50px;
    background: url("../../img/other/down-arrow-mobile-1.svg") no-repeat center;
    background-size: contain; }
  .compare__exercise_arrow-expanded::after {
    background: url("../../img/other/down-arrow-mobile-2.svg") no-repeat center; }

.compare__exercise-title {
  margin-bottom: 8px;
  position: relative;
  font-weight: 700; }
  .compare__exercise-title::before {
    content: '';
    position: absolute;
    left: -28px;
    top: 4px;
    width: 20px;
    height: 18px;
    background: url("../../img/other/group-27@3x.png") no-repeat center;
    background-size: 100%; }

.compare__exercise-desc {
  font-size: 16px;
  color: #65718b; }

.compare__solution {
  padding-top: 30px;
  padding-bottom: 23px;
  margin-bottom: 30px;
  background: url("../../img/other/compare-solution-bg.svg") no-repeat center;
  background-size: contain;
  -webkit-box-shadow: 0 9px 30px 0 rgba(65, 84, 121, 0.15);
          box-shadow: 0 9px 30px 0 rgba(65, 84, 121, 0.15); }

.compare__solution-text {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 12px;
  font-family: TiemposText;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
  color: #051033; }
  .compare__solution-text span {
    -webkit-border-radius: 1em 0 1em 0;
            border-radius: 1em 0 1em 0;
    background-image: -webkit-linear-gradient(190deg, rgba(250, 247, 133, 0.3), rgba(250, 247, 133, 0.7) 98%, rgba(250, 247, 133, 0.1));
    background-image: linear-gradient(-100deg, rgba(250, 247, 133, 0.3), rgba(250, 247, 133, 0.7) 98%, rgba(250, 247, 133, 0.1)); }

.index-table {
  margin-bottom: 60px;
  text-align: center; }
  .index-table__desc {
    margin-bottom: 20px; }
  .index-table__wrapper {
    width: 1060px;
    font-size: 12px;
    font-weight: 900;
    line-height: 3.17;
    text-align: left;
    color: #65718b; }
  .index-table__active-column-wrapper {
    position: relative;
    padding-top: 89px;
    padding-bottom: 30px;
    display: inline-block; }
  .index-table tbody tr:nth-of-type(odd) {
    background-color: rgba(101, 113, 139, 0.06); }
  .index-table td {
    border: none;
    text-align: center; }
  .index-table th {
    border: none;
    padding-left: 15px; }
  .index-table thead th {
    padding-top: 0;
    border: none;
    width: 117px;
    text-align: center;
    -o-object-fit: contain;
       object-fit: contain;
    font-size: 12px;
    line-height: 1.375;
    color: #65718b;
    vertical-align: middle; }
  .index-table__img-tick {
    width: 19px; }
  .index-table__img-cross {
    width: 14px; }

.active-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 142.5px;
  top: 0;
  width: 117px;
  height: 529px;
  background-color: rgba(0, 59, 222, 0.02);
  border: solid 1px #003bde;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .active-column__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .active-column__logo {
    margin-top: 14px;
    margin-bottom: 5px;
    width: 30px;
    height: 30px; }
  .active-column__title {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #051033;
    text-align: center; }
  .active-column__desc {
    margin-bottom: 7px;
    font-size: 10px;
    font-weight: bold;
    color: #65718b; }
  .active-column__raiting {
    height: 14px;
    width: auto; }
  .active-column__btn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 700;
    background-color: #003bde;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding-top: 8px;
    padding-bottom: 7px;
    font-size: 16px;
    width: 100%;
    border: 0;
    -webkit-border-radius: 0;
            border-radius: 0;
    text-align: center; }
    .active-column__btn:hover {
      cursor: pointer;
      border: 1px solid #003bde;
      color: #003bde;
      background: #fff;
      text-decoration: none; }

.faq__title {
  margin-bottom: 10px; }

.faq__desc {
  margin-bottom: 11px; }

.faq__group {
  padding-top: 15px;
  border-top: solid 1px #dee1e5; }

.faq__group-title {
  font-family: "TiemposText";
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #051033; }

.faq__group-item-title {
  margin-bottom: 10px;
  letter-spacing: -0.5px;
  color: #051033; }

.faq__group-item-text {
  font-size: 14px;
  color: #65718b; }

@media (min-width: 768px) {
  .top-index {
    margin-bottom: 0;
    background: url("../../img/other/hero-bg-desktop.jpg") no-repeat center;
    background-size: 100%; }
    .top-index__bg-desctop {
      padding-top: 52px;
      padding-bottom: 30px;
      background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(70%, rgba(255, 255, 255, 0)));
      background: -webkit-linear-gradient(bottom, white 0%, rgba(255, 255, 255, 0) 70%);
      background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0) 70%); }
    .top-index__desc {
      margin-bottom: 29px; }
    .top-index__btn {
      margin-bottom: 22px;
      width: 223px; }
  .counter {
    padding-top: 13px;
    padding-bottom: 64px; }
    .counter__desc {
      margin-top: 8px; }
      .counter__desc_left {
        margin-right: 12px; }
      .counter__desc_right {
        margin-left: 12px;
        font-weight: 500; }
  .logos {
    margin-bottom: 0; }
    .logos__container {
      border-bottom: 1px solid #dee1e5; }
    .logos__title-wrapper {
      margin-bottom: 0; }
    .logos__logo {
      margin-top: 16px;
      margin-bottom: 24px;
      max-width: 100%; }
  .what-included__block {
    margin-bottom: 35px; }
  .what-included__desc {
    margin-bottom: 50px; }
  .what-included__text {
    line-height: 1.67; }
  .guaranteed {
    margin-bottom: 50px; }
    .guaranteed__bg {
      padding: 10px 20px 15px;
      background: url("../../img/other/guaranteed-horizontal.svg") no-repeat center;
      background-size: 100%; }
    .guaranteed__desc {
      margin-bottom: 22px;
      font-size: 16px; }
    .guaranteed__logo {
      margin-top: 22px;
      width: 262px;
      height: 207px; }
  .news-list__title {
    margin-bottom: 10px; }
  .news-list__desc-main {
    margin-bottom: 60px; }
  .news-list__item::after {
    content: none; }
  .compare__exercise::after {
    left: auto;
    right: -70px;
    bottom: auto;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(270deg) scale(-1, 1);
        -ms-transform: translate(-50%, -50%) rotate(270deg) scale(-1, 1);
            transform: translate(-50%, -50%) rotate(270deg) scale(-1, 1); }
  .compare__exercise_arrow-expanded::after {
    left: auto;
    right: -70px;
    bottom: auto;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(270deg) scale(-1, 1);
        -ms-transform: translate(-50%, -50%) rotate(270deg) scale(-1, 1);
            transform: translate(-50%, -50%) rotate(270deg) scale(-1, 1); } }

@media (min-width: 1200px) {
  .top-index__bg-desctop {
    position: relative; }
  .top-index__desc {
    width: 520px;
    font-size: 30px;
    line-height: 1.33;
    color: #051033; }
  .top-index__btn {
    margin-bottom: 43px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 273px;
    font-size: 20px; }
  .top-index__logos {
    width: 440px; }
  .top-index__logo-desctop {
    position: absolute;
    top: 50%;
    right: 177px;
    width: 240px; }
  .logos {
    margin-bottom: 35px;
    text-align: center; }
    .logos__logo {
      width: 80%; }
  .list-checkbox__item {
    display: inline-block;
    min-width: 40%; }
  .two-columns__block {
    margin-bottom: 70px; }
    .two-columns__block:last-child {
      margin-bottom: 0; }
  .full-links {
    font-size: 12px; }
    .full-links__title {
      font-size: 14px; }
  .recordings__block {
    margin-bottom: 30px; }
  .recordings__block-title {
    font-size: 18px; }
  .recordings__date {
    margin-bottom: -31px;
    margin-left: 30px;
    font-size: 16px; }
  .recordings__logo {
    width: 166px; }
  .what-included__desc {
    margin-bottom: 70px;
    font-size: 22px;
    line-height: 1.36; }
  .what-included__marked {
    font-weight: 600; }
  .what-included__block-title {
    margin-top: 70px;
    margin-bottom: 24px;
    font-size: 28px;
    line-height: 1.21; }
  .guaranteed__bg {
    padding: 34px 89px 34px 34px; }
  .guaranteed__title {
    font-size: 28px;
    font-weight: 600; }
  .guaranteed__desc {
    font-size: 20px; }
  .guaranteed__logo {
    width: 278px;
    height: 220px; }
  .news-list__desc {
    width: 100%;
    font-size: 20px;
    line-height: 1.5; }
  .news-list__item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 42px;
    padding-bottom: 20px;
    border-bottom: solid 1px #e4e4e4; }
    .news-list__item:last-child {
      border-bottom: none; }
  .news-list__logo_1 {
    width: 277px; }
  .news-list__logo_2 {
    width: 277px; }
  .news-list__logo_3 {
    width: 75px; }
  .news-list__logo_4 {
    width: 160px; }
  .news-list__logo_5 {
    width: 168px; }
  .news-list__logo_6 {
    width: 288px; }
  .news-list__logo_7 {
    width: 216px; }
  .news-list__logo_8 {
    width: 211px; }
  .news-list__logo_9 {
    width: 173px; }
  .compare {
    display: block;
    margin-bottom: 70px; }
    .compare__title {
      margin-bottom: 70px; }
    .compare__exercise {
      width: 430px; }
      .compare__exercise::after {
        width: 100px;
        right: -160px; }
      .compare__exercise_arrow-expanded::after {
        width: 100px;
        right: -160px; }
    .compare__exercise-title {
      font-size: 22px; }
    .compare__exercise-desc {
      font-size: 18px; }
    .compare__solution {
      width: 520px;
      background: url("../../img/other/compare-solution-desctop.svg") no-repeat center;
      background-size: contain; }
    .compare__solution-text {
      width: 414px;
      font-size: 20px; }
  .index-table {
    font-size: 14px; }
    .index-table thead th {
      font-size: 14px; }
    .index-table__wrapper {
      width: 1140px; }
    .index-table__active-column-wrapper {
      padding-top: 112px;
      padding-bottom: 23px; }
  .active-column {
    width: 140px;
    height: 561px;
    left: 146px; }
    .active-column__title {
      margin-bottom: 6px;
      font-size: 16px; }
    .active-column__desc {
      font-size: 12px; }
  .faq__desc {
    margin-bottom: 30px;
    font-size: 22px;
    color: #65718b; }
  .faq__group-title {
    font-size: 34px; }
  .faq__group-list {
    list-style-type: none;
    padding: 0; }
  .faq__group-item-title {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 1.73;
    letter-spacing: -0.6px;
    color: #051033; }
  .faq__group-item-text {
    font-size: 16px;
    line-height: 1.5;
    color: #65718b; } }

.quote {
  position: relative;
  padding-top: 15px;
  padding-bottom: 19px;
  color: #051033; }
  .quote::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 36px;
    height: 1px;
    background: #dee1e5; }
  .quote::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 36px;
    height: 1px;
    background: #dee1e5; }
  .quote__wrapper {
    margin: 0 auto;
    width: 90%; }
  .quote__text {
    position: relative;
    display: inline; }
    .quote__text::before {
      content: '';
      position: absolute;
      top: -7px;
      left: -28px;
      width: 20px;
      height: 20px;
      background: url("../../../img/other/quote.svg") no-repeat center;
      background-size: contain; }
  .quote__author {
    margin-top: 1em;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.17;
    color: #051033; }
    .quote__author_little {
      text-transform: none;
      line-height: 1.57;
      color: #7a838e; }

@media (min-width: 768px) {
  .quote::before {
    width: 89px; }
  .quote::after {
    width: 89px; }
  .quote_non-top-line::before {
    content: none; }
  .quote__text {
    font-size: 24px; } }

@media (min-width: 1200px) {
  .quote {
    padding-top: 30px;
    padding-bottom: 42px; }
    .quote__text {
      font-size: 32px;
      line-height: 1.5; }
      .quote__text::before {
        left: -28px; }
    .quote__author {
      font-size: 18px; } }

.what-is__img-wrapper {
  margin-bottom: 17px; }

@media (min-width: 768px) {
  .what-is {
    background: url("../../img/mocks/group-6@3x.png") no-repeat -webkit-calc(50% - 300px) top;
    background: url("../../img/mocks/group-6@3x.png") no-repeat calc(50% - 300px) top;
    background-size: auto 356px; } }

@media (min-width: 1200px) {
  .what-is {
    background-position: -webkit-calc(50% - 500px) top;
    background-position: calc(50% - 500px) top;
    background-size: auto 617px; } }

.how-it-works {
  margin-bottom: 10px; }
  .how-it-works__title {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 0.8em;
    text-align: center; }
  .how-it-works__marked {
    color: #003bde; }
  .how-it-works__img-wrapper {
    margin-bottom: 0.8em;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.06);
            box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.06); }
    .how-it-works__img-wrapper_green {
      border: solid 1px rgba(80, 213, 179, 0.3); }
    .how-it-works__img-wrapper_red {
      border: solid 1px rgba(245, 60, 60, 0.3); }

@media (min-width: 768px) {
  .how-it-works__title {
    width: 100%;
    text-align: left; } }

@media (min-width: 1200px) {
  .how-it-works {
    margin-bottom: 70px; }
    .how-it-works__title-main {
      margin-bottom: 50px; }
    .how-it-works__title {
      margin-bottom: 0;
      line-height: 1.89;
      font-size: 18px;
      font-weight: 700; }
    .how-it-works__img-wrapper {
      margin-bottom: 19px; } }

.blue {
  background: url("../../../img/photos/bgbig@3x.jpg") no-repeat center;
  background-size: cover; }
  .blue__bg {
    padding: 36px 0 50px;
    background: rgba(0, 59, 222, 0.8); }
  .blue__trademark-name {
    width: 134px;
    margin-bottom: 8px; }
  .blue__title {
    width: 189px;
    margin: 0 auto;
    margin-bottom: 15px;
    color: #fff; }
  .blue__desc {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9); }
  .blue__btn {
    margin-bottom: 13px;
    margin-top: 100px;
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    font-weight: 700;
    color: #000000;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    text-shadow: 0 0 24px rgba(255, 255, 255, 0.91);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe19b), to(#febf62));
    background-image: -webkit-linear-gradient(top, #ffe19b, #febf62);
    background-image: linear-gradient(to bottom, #ffe19b, #febf62);
    -webkit-box-shadow: 0 0 0 0 #ffffff, inset 0 4px 2px 0 rgba(255, 255, 255, 0.5);
            box-shadow: 0 0 0 0 #ffffff, inset 0 4px 2px 0 rgba(255, 255, 255, 0.5);
    border: solid 2px #c88b31;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 18px 0;
    font-size: 18px; }
    .blue__btn::after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    .blue__btn:hover {
      cursor: pointer;
      background-image: -webkit-gradient(linear, left bottom, left top, from(#ffe19b), to(#febf62));
      background-image: -webkit-linear-gradient(bottom, #ffe19b, #febf62);
      background-image: linear-gradient(to top, #ffe19b, #febf62);
      text-decoration: none;
      color: #000000; }
    .blue__btn::after {
      width: 100%;
      height: 100px;
      top: -110px;
      left: 0;
      background: url("../../../img/other/group-12@3x.png") no-repeat center;
      background-size: contain; }
  .blue__dollar {
    font-size: 14px;
    font-weight: 800;
    position: relative;
    top: -4px;
    right: -4px; }
  .blue__sale-time {
    color: rgba(255, 255, 255, 0.9); }
  .blue__crossed {
    position: relative; }
    .blue__crossed::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      top: 12px;
      left: 0;
      background: rgba(255, 255, 255, 0.9);
      -webkit-transform: rotate(21deg);
          -ms-transform: rotate(21deg);
              transform: rotate(21deg); }

@media (min-width: 768px) {
  .blue__bg {
    padding: 36px 0; }
  .blue__title {
    width: 100%; }
  .blue__btn {
    width: auto;
    padding: 18px 50px; }
    .blue__btn::after {
      width: 120%;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0); } }

@media (min-width: 1200px) {
  .blue__bg {
    padding: 56px 0; }
  .blue__trademark-name {
    width: 166px; }
  .blue__desc {
    font-size: 22px;
    line-height: 1.36;
    letter-spacing: 0.2px; }
  .blue__btn {
    padding: 26px 54px;
    font-size: 24px; }
    .blue__btn_arrow-right {
      margin-top: 0; }
      .blue__btn_arrow-right::after {
        width: 100%;
        left: auto;
        right: -104%;
        top: -13px;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        background-image: url("../../../img/other/group-15@3x.png"); }
    .blue__btn_arrow-left {
      margin-top: 0; }
      .blue__btn_arrow-left::after {
        width: 100%;
        left: -104%;
        right: auto;
        top: -13px;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        background-image: url("../../../img/other/group-16.svg"); } }

.recap-included {
  margin-bottom: 10px; }
  .recap-included__title-main {
    margin-bottom: 31px; }
  .recap-included__item {
    margin-bottom: 30px;
    padding-top: 55px;
    background-position: top center;
    background-repeat: no-repeat; }
    .recap-included__item_video-icon {
      background-image: url("../../../img/other/triangle.svg");
      background-size: 21px 30px; }
    .recap-included__item_calendar-icon {
      background-image: url("../../../img/other/group-154.svg");
      background-size: 40px; }
    .recap-included__item_guide-icon {
      background-image: url("../../../img/other/document.svg");
      background-size: 30px 40px; }
    .recap-included__item_worksheet-icon {
      background-image: url("../../../img/other/document-edit.svg");
      background-size: 40px auto; }
    .recap-included__item_lifetime-icon {
      background-image: url("../../../img/other/group-155.svg");
      background-size: 40px auto; }
  .recap-included__title {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.36;
    margin-bottom: 8px;
    color: #003bde; }
  .recap-included__desc {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    color: #30435c; }

@media (min-width: 1200px) {
  .recap-included__title-main {
    margin-bottom: 70px; }
  .recap-included__item {
    margin-bottom: 60px; } }

.reviews__title {
  margin-bottom: 10px; }

.reviews__desc {
  margin-bottom: 10px; }

.reviews__general-stars-img {
  width: 100px;
  margin-right: 9px; }

.reviews__general-total {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.89;
  color: #003bde; }

.reviews__general-out-of {
  margin: 0;
  font-size: 13px;
  line-height: 1.35;
  color: #003bde; }

.reviews__general-rating {
  margin-bottom: 21px; }

.reviews__item {
  margin-bottom: 18px;
  border-bottom: 1px solid #dee1e5; }
  .reviews__item_last {
    border-bottom: none; }

.reviews__author-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.reviews__author-img {
  margin-right: 10px; }

.reviews__author-name {
  margin: 0;
  font-size: 14px;
  line-height: 2.43;
  color: #000000; }

.reviews__item-stars {
  margin-bottom: 8.5px; }

.reviews__item-title {
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  color: #000000; }

.reviews__item-date {
  margin-bottom: 12px;
  font-size: 14px; }

.reviews__item-desc {
  margin-bottom: 14px;
  font-size: 16px; }

.reviews__btn {
  min-height: 43px;
  width: 100%;
  display: inline-block;
  padding: 11px 0;
  font-size: 16px;
  line-height: 1.35;
  color: #65718b;
  font-weight: 700;
  text-align: center;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #f5f5f5;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .reviews__btn:hover {
    color: #000;
    text-decoration: none; }

@media (min-width: 1200px) {
  .reviews__item-title {
    margin-left: 8px;
    display: inline-block; }
  .reviews__item-desc {
    font-size: 18px; }
  .reviews__btn {
    padding: 18px 41px;
    font-size: 18px; } }

.footer {
  padding-bottom: 38px;
  padding-top: 25px;
  border-top: solid 2px #dee1e5; }
  .footer__logo {
    margin-bottom: 6px;
    width: 125px; }
  .footer__copyright {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #7a838e; }

.about-top {
  margin-top: 30px; }
  .about-top__img {
    margin-bottom: 20px; }

@media (min-width: 1200px) {
  .about-top {
    margin-top: 40px; }
    .about-top__title {
      margin-top: 40px; } }

.contacts-form {
  margin-top: 30px; }
  .contacts-form .form-control {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border: solid 1px rgba(101, 113, 139, 0.23); }
  .contacts-form input.form-control {
    height: 49px; }
  .contacts-form textarea {
    margin-bottom: 2em; }
  .contacts-form button {
    width: 100%;
    height: 55px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #003bde;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    border: solid 1px #003bde;
    background-color: #fff; }

@media (min-width: 768px) {
  .contacts-form button {
    width: 60%; } }

@media (min-width: 1200px) {
  .contacts-form {
    margin-top: 49px; }
    .contacts-form button {
      width: 220px; } }

.loader,
.loader:before,
.loader:after {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out; }

.loader {
  top: -18px;
  color: #65718b;
  font-size: 10px;
  margin: 0px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0; }

.loader:before {
  left: -2em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.loader:after {
  left: 2em; }

@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0; } }

@keyframes load7 {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em; }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0; } }

/*# sourceMappingURL=main.css.map */
