
.counter {
    margin-bottom: 0;
    height: 55px;
    background-color: #FFCD50;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
}
.flip-clock-wrapper ul li a div div.inn {
    background-color: #FFCD50;
}
