
.blue {
    background: url('../../../img/photos/bluebg.jpg') no-repeat center;
    background-size: cover;

    &__bg {
        padding: 36px 0 50px;
        background: transparentize($color: $blue, $amount: 0.2);
    }

    &__trademark-name {
        width: 134px;
        margin-bottom: 8px;
    }

    &__title {
        width: 189px;
        margin: 0 auto;
        margin-bottom: 15px;
        color: #fff;
    }

    &__desc {
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 400;
        color: transparentize($color: #fff, $amount: 0.1);
    }

    &__form {
      width: 100%;
    }

    &__btn {
        margin-bottom: 13px;
        margin-top: 100px;
        @include with-arrow;
        width: 100%;
        /*@include orange-btn;*/
        @include ghost-btn;
        padding: 18px 0;
        font-size: 18px;


        &__handwriting {

          margin-top: 80px;

          &::after {
              width: 294px;
              height: 63px;
              top: -80px;
              left: 0;
              background: url('../../../img/other/group-12@3x.png') no-repeat center;
              background-size: contain;
            }
          }
    }

    &__dollar {
        font-size: 14px;
        font-weight: 800;
        position: relative;
        top: -4px;
        right: -4px;
    }

    &__sale-time {
        color: transparentize($color: #fff, $amount: 0.1);
    }

    &__crossed {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            top: 12px;
            left: 0;
            background: transparentize($color: #fff, $amount: 0.1);
            transform: rotate(21deg);
        }
    }

    &__form {
      text-align: center;
      margin: 0 auto;
    }
    &__trial-button {
      background-color: transparent;
      border: 1px solid #fff;
      margin-bottom: 10px;
    }
}


@media (min-width: $md) {
    .blue {
        &__bg {
            padding: 36px 0;
        }

        &__title {
            width: 100%;
        }

        &__form {
          width: 100%;
        }

        &__btn {
            width: auto;
            padding: 18px 50px;

            &::after {
                width: 120%;
                left: 50%;
                transform: translate(-50%, 0);
            }

            &__handwriting {

              margin-top: 100px;

              &::after {
                  width: 387px;
                  height: 83px;
                  top: -100px;
                }
              }
        }
    }
}

@media (min-width: $xl) {
    .blue {
        &__bg {
            padding: 56px 0;
        }

        &__trademark-name {
            width: 166px;
        }

        &__desc {
            font-size: 22px;
            line-height: 1.36;
            letter-spacing: 0.2px;
        }

        &__form {
          width: 70%;
        }

        &__btn {
            padding: 26px 54px;
            font-size: 24px;

            &_arrow-right {
                margin-top: 0;

                &__handwriting {
                  &::after {
                    width: 410px;
                    height: 83px;
                    left: auto;
                    right: -110%;
                    top: -13px;
                    transform: none;
                    background-image: url('../../../img/other/group-15@3x.png');
                  }
                }
            }

            &_arrow-left {
                margin-top: 0;

                &__handwriting {
                    &::after {
                        width: 268px;
                        height: 74px;
                        left: -74%;
                        right: auto;
                        top: 15px;
                        transform: none;
                        background-image: url('../../../img/other/group-16.svg');
                    }
                }
            }
        }
    }
}
