
.how-it-works {
    margin-bottom: 10px;

    &__title {
        display: block;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 0.8em;
        text-align: center;
    }

    &__marked {
        color: $blue;
    }

    &__img-wrapper {
        margin-bottom: 0.8em;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.06);

        &_green {
            border: solid 1px rgba(80, 213, 179, 0.3);
        }

        &_red {
            border: solid 1px rgba(245, 60, 60, 0.3);
        }
    }
}

@media (min-width: $md) {
    .how-it-works {
        &__title {
            width: 100%;
            text-align: left;
        }
    }
}

@media (min-width: $xl) {
    .how-it-works {
        margin-bottom: 40px;

        &__title-main {
            margin-bottom: 50px;
        }

        &__title {
            margin-bottom: 0;
            line-height: 1.89;
            font-size: 18px;
            font-weight: 700;
        }

        &__img-wrapper {
            margin-bottom: 19px;
        }
    }
}
