
.header {
    padding: 10px 0;
    background: #fff;

    &__burger-icon {
        margin-right: 9px;
        width: 15px;
        height: 12px;
        font-size: 0;
        border: 0;
        background: url('../img/other/menu.svg') no-repeat center;
        background-size: cover;
    }

    &__logo {
        width: 134px;
    }

    &__btn {
        @include turquoise-btn;
        padding: 6px 12px 6px 16px;
        font-size: 16px;
        line-height: 19px;
    }
    &__btn-two {
        @include orange-btn;
        padding: 6px 12px 6px 16px;
        font-size: 16px;
    }
    &__btn-blue {
        @include blue-btn;
        padding: 6px 12px 6px 16px;
        font-size: 16px;
    }
    &__trial-button {
      @include blue-btn;
      display: inline-block;
      font-size: 14px;
      width: 100%;
      height: auto;
      padding: 0 5px;
      height: 34px;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      font-weight: bold;
    }
    &__trial-button-wrapper {
      display: inline-block;
      width: 35%;
    }
    &__trial-field {
      font-size: 14px;
      border: 1px solid #ABB0B2;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      color: #343434;
      background-color: #fff;
      box-sizing: border-box;
      height: 34px;
      display: inline-block;
      margin: 0;
      width: 50%;
      padding: 0 10px;
      text-align: left;
      &:focus {
        outline: none;
      }
    }
    &__mc_embed_signup {
      text-align: right;
      width: 340px;
    }
}

.header-sticky-overlay {
    display: none;
}

.header-sticky {
    position: fixed;
    z-index: 5;
    top: -100%;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: white;
    box-shadow: 0px 4px 34px -2px rgba(0, 0, 0, 0.116);
    transition: all 0.8s ease;

    &_opened {
        top: 0;
    }

    &_with-overlay > .header-sticky-overlay {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(255,255,255,.5);
        z-index: 99;
    }
}

@media (min-width: $md) {
    .header {
        &__logo {
            width: 166px;
        }

        &__chat-text {
            margin-bottom: 0;
            margin-right: 16px;
            padding-left: 25px;
            font-size: 14px;
            color: #7a838e;

            background: url('../img/other/comment.svg') no-repeat left center;
            background-size: contain;
        }


    }
}

@media (min-width: $xl) {
    .header {
        padding: 15px 0;

        &__logo {
            margin-right: 77px;
        }

        &__nav-link {
            margin-right: 46px;
            font-size: 14px;
            font-weight: 300;
            color: #99A4B2;

            &_active {
                color: #7a838e;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &__btn {
            padding: 11px 24px 11px 24px;
        }
    }
}
