
.header {
    padding: 10px 0;
    background: #fff;

    &__burger-icon {
        margin-right: 9px;
        width: 15px;
        height: 12px;
        font-size: 0;
        border: 0;
        background: url('../../../img/other/menu.svg') no-repeat center;
        background-size: cover;
    }

    &__logo {
        width: 134px;
    }

    &__btn {
        @include blue-btn;
        padding: 6px 12px 6px 16px;
        font-size: 14px;
        line-height: 19px;
    }
}

.header-sticky-overlay {
    display: none;
}

.header-sticky {
    position: fixed;
    z-index: 5;
    top: -100%;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: white;
    box-shadow: 0px 4px 34px -2px rgba(0, 0, 0, 0.116);
    transition: all 0.8s ease;

    &_opened {
        top: 0;
    }

    &_with-overlay > .header-sticky-overlay {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: rgba(255,255,255,.5);
        z-index: 99;
    }
}

@media (min-width: $md) {
    .header {
        &__logo {
            width: 166px;
        }

        &__chat-text {
            margin-bottom: 0;
            margin-right: 16px;
            padding-left: 25px;
            font-size: 14px;
            color: #7a838e;
            font-weight: 700;

            background: url('../../../img/other/comment.svg') no-repeat left center;
            background-size: contain;
        }
    }
}

@media (min-width: $xl) {
    .header {
        padding: 20px 0;

        &__logo {
            margin-right: 77px;
        }
        
        &__nav-link {
            margin-right: 46px;
            font-size: 14px;
            font-weight: 700;
            color: #7a838e;

            &_active {
                color: $blue;
            }
            
            &:last-child {
                margin-right: 0;
            }
        }

        &__btn {
            padding: 11px 24px 11px 24px;
        }
    }
}