@font-face {
    font-family:"Avenir";
    font-weight: normal;
    src:url("./edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix");
    src:url("./edefe737-dc78-4aa3-ad03-3c6f908330ed.eot?#iefix") format("eot"),
    url("./0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),
    url("./908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff"),
    url("./4577388c-510f-4366-addb-8b663bcc762a.ttf") format("truetype"),
    url("./b0268c31-e450-4159-bfea-e0d20e2b5c0c.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
}

@font-face {
    font-family:"Avenir";
    font-weight: bold;
    src:url("./6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
    src:url("./6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),
    url("./d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),
    url("./61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),
    url("./ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype"),
    url("./20577853-40a7-4ada-a3fb-dd6e9392f401.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
}

/* Tiempos */
@font-face{
    font-family:"TiemposText";
    font-weight: 600;
    font-style: normal;
    src:url("./tiempos/TiemposTextWeb-Semibold.eot") format("eot"),
    url("./tiempos/TiemposTextWeb-Semibold.woff2") format("woff2"),
    url("./tiempos/TiemposTextWeb-Semibold.woff") format("woff");
}
