.what-is {
    &__img-wrapper {
        margin-bottom: 17px;
    }
}

@media (min-width: $md) {
    .what-is {
        background-image: url('../../img/mocks/optimumsleep-hero.png');
        background-repeat: no-repeat;
        background-position-x: calc(50% - 300px);
        background-position-y: top;
        background-size: auto 356px;
    }
}

@media (min-width: $xl) {
    .what-is {
        background-position-x: calc(50% - 500px);
        background-position-y: top;
        background-size: auto 617px;
        padding-bottom: 20px;
    }
}
