
.about-top {
    margin-top: 30px;

    &__img {
        margin-bottom: 20px;
    }
}

@media (min-width: $xl) {
    .about-top {
        margin-top: 40px;

        &__title {
            margin-top: 40px;
        }
    }
}